body {
  min-height: 95vh;
  font-family: 'Jura', sans-serif !important;
}
#root {
  min-height: 100vh;
  margin-top: 60px;
}
.bold-e {
  font-weight: 800 !important;
}
.bold-f {
  font-weight: 500 !important;
}
.center {
  margin: 0 auto;
}
.clear-lineup {
  background-color: white !important;
  color: #000000 !important;
  border: 1px solid #dfdfdf !important;
}
.logo {
  height: 95px;
  margin: 0 auto;
  display: inherit;
  margin-bottom: 35px;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.upload-file {
  margin-bottom: 25px;
}
.custom-file-label {
  overflow: hidden;
  word-break: break-all;
}
.spinner-container {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.spinner {
  display: inline-block;
}
.creating-roster {
  text-align: center;
  margin-top: 35px;
}
.directions {
  text-align: center;
  width: auto;
  margin: 110px 0;
  border-radius: 5px;
  color: #e04b40;
  font-weight: bold;
  font-size: 18px;
}
// LINEUP
.lineup {
  margin-top: 40px;
}

.batter {
  width: 11.11%;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  line-height: 2.2;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
}

.icon-active {
  box-shadow: 0 0 7px 4px #26cfff;
}
// GAME SETTINGS
.game-settings {
  margin-top: 100px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.settings-header {
  margin-bottom: 30px;
}
.settings-form.input {
  text-align: center;
}

label {
  margin: 1rem 0 0.5rem 0;
}
.input {
  text-align: center;
}

.has-errors {
  border: 1px solid red;
}

.invalid {
  color: red;
}

.hidden {
  display: none;
}
.playball {
  margin-top: 30px;
  width: 12.65rem;
}

// RESULTS
.results-container {
  margin-top: 60px;
  padding-top: 30px;
}
.result {
  display: inline-block;
}

.result-header {
  font-size: 18px;
}
.result-data {
  font-size: 40px;
  color: #e74c3c;
  display: inline-block;
  padding: 30px 0;
}

// ROSTER
.roster {
  text-align: center;
  font-size: 28px;
  margin: 40px 0 10px 0;
}
.player {
  display: inline-block !important;
  cursor: pointer;
}
.card-title {
  font-size: 1.2em !important;
  color: #0579f5 !important;
}
.stat-title {
  font-weight: 800;
}
.stat-text {
  float: right;
  font-weight: 500;
}
.credit {
  text-align: center;
  padding: 30px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
